.border-inherit {
  border-color: inherit;
}
.border-current {
  border-color: currentColor;
}
.border-transparent {
  border-color: transparent;
}
.border-black {
  border-color: #000;
}
.border-white {
  border-color: #fff;
}
