.border-0 {
  border-width: 0px;
}
.border-2 {
  border-width: 2px;
}
.border-4 {
  border-width: 4px;
}
.border-8 {
  border-width: 8px;
}
.border {
  border-width: 1px;
}
.border-x-0 {
  border-inline-start-width: 0px;
  border-inline-end-width: 0px;
}
.border-x-2 {
  border-inline-start-width: 2px;
  border-inline-end-width: 2px;
}
.border-x-4 {
  border-inline-start-width: 4px;
  border-inline-end-width: 4px;
}
.border-x-8 {
  border-inline-start-width: 8px;
  border-inline-end-width: 8px;
}
.border-x {
  border-inline-start-width: 1px;
  border-inline-end-width: 1px;
}
.border-y-0 {
  border-block-start-width: 0px;
  border-block-end-width: 0px;
}
.border-y-2 {
  border-block-start-width: 2px;
  border-block-end-width: 2px;
}
.border-y-4 {
  border-block-start-width: 4px;
  border-block-end-width: 4px;
}
.border-y-8 {
  border-block-start-width: 8px;
  border-block-end-width: 8px;
}
.border-y {
  border-block-start-width: 1px;
  border-block-end-width: 1px;
}
.border-t-0 {
  border-block-start-width: 0px;
}
.border-t-2 {
  border-block-start-width: 2px;
}
.border-t-4 {
  border-block-start-width: 4px;
}
.border-t-8 {
  border-block-start-width: 8px;
}
.border-t {
  border-block-start-width: 1px;
}
.border-r-0 {
  border-inline-end-width: 0px;
}
.border-r-2 {
  border-inline-end-width: 2px;
}
.border-r-4 {
  border-inline-end-width: 4px;
}
.border-r-8 {
  border-inline-end-width: 8px;
}
.border-r {
  border-inline-end-width: 1px;
}
.border-b-0 {
  border-block-end-width: 0px;
}
.border-b-2 {
  border-block-end-width: 2px;
}
.border-b-4 {
  border-block-end-width: 4px;
}
.border-b-8 {
  border-block-end-width: 8px;
}
.border-b {
  border-block-end-width: 1px;
}
.border-l-0 {
  border-inline-start-width: 0px;
}
.border-l-2 {
  border-inline-start-width: 2px;
}
.border-l-4 {
  border-inline-start-width: 4px;
}
.border-l-8 {
  border-inline-start-width: 8px;
}
.border-l {
  border-inline-start-width: 1px;
}
