// SCSS mirrors for default block widths
$column-width-narrower: 330px !default;
$column-width-narrow: 510px !default;
$column-width-normal: 660px !default;
$column-width-wide: 930px !default;
$column-width-wider: 1200px !default;
