.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.h-1\/2 {
  height: 50%;
}
.h-1\/3 {
  height: 33.333333%;
}
.h-2\/3 {
  height: 66.666667%;
}
.h-1\/4 {
  height: 25%;
}
.h-2\/4 {
  height: 50%;
}
.h-3\/4 {
  height: 75%;
}
.h-1\/5 {
  height: 20%;
}
.h-2\/5 {
  height: 40%;
}
.h-3\/5 {
  height: 60%;
}
.h-4\/5 {
  height: 80%;
}
.h-1\/6 {
  height: 16.666667%;
}
.h-2\/6 {
  height: 33.333333%;
}
.h-3\/6 {
  height: 50%;
}
.h-4\/6 {
  height: 66.666667%;
}
.h-5\/6 {
  height: 83.333333%;
}
.h-1\/12 {
  height: 8.333333%;
}
.h-2\/12 {
  height: 16.666667%;
}
.h-3\/12 {
  height: 25%;
}
.h-4\/12 {
  height: 33.333333%;
}
.h-5\/12 {
  height: 41.666667%;
}
.h-6\/12 {
  height: 50%;
}
.h-7\/12 {
  height: 58.333333%;
}
.h-8\/12 {
  height: 66.666667%;
}
.h-9\/12 {
  height: 75%;
}
.h-10\/12 {
  height: 83.333333%;
}
.h-11\/12 {
  height: 91.666667%;
}
.\!h-full {
  height: 100% !important;
}
.\!h-screen {
  height: 100vh !important;
}
.\!h-1\/2 {
  height: 50% !important;
}
.\!h-1\/3 {
  height: 33.333333% !important;
}
.\!h-2\/3 {
  height: 66.666667% !important;
}
.\!h-1\/4 {
  height: 25% !important;
}
.\!h-2\/4 {
  height: 50% !important;
}
.\!h-3\/4 {
  height: 75% !important;
}
.\!h-1\/5 {
  height: 20% !important;
}
.\!h-2\/5 {
  height: 40% !important;
}
.\!h-3\/5 {
  height: 60% !important;
}
.\!h-4\/5 {
  height: 80% !important;
}
.\!h-1\/6 {
  height: 16.666667% !important;
}
.\!h-2\/6 {
  height: 33.333333% !important;
}
.\!h-3\/6 {
  height: 50% !important;
}
.\!h-4\/6 {
  height: 66.666667% !important;
}
.\!h-5\/6 {
  height: 83.333333% !important;
}
.\!h-1\/12 {
  height: 8.333333% !important;
}
.\!h-2\/12 {
  height: 16.666667% !important;
}
.\!h-3\/12 {
  height: 25% !important;
}
.\!h-4\/12 {
  height: 33.333333% !important;
}
.\!h-5\/12 {
  height: 41.666667% !important;
}
.\!h-6\/12 {
  height: 50% !important;
}
.\!h-7\/12 {
  height: 58.333333% !important;
}
.\!h-8\/12 {
  height: 66.666667% !important;
}
.\!h-9\/12 {
  height: 75% !important;
}
.\!h-10\/12 {
  height: 83.333333% !important;
}
.\!h-11\/12 {
  height: 91.666667% !important;
}
