%font-serif {
  font-family: var(--theme-font-family-serif);
}
%font-sans {
  font-family: var(--theme-font-family-sans-serif);
}
%font-mono {
  font-family: var(--theme-font-family-monospace);
}
%\!font-serif {
  font-family: var(--theme-font-family-serif) !important;
}
%\!font-sans {
  font-family: var(--theme-font-family-sans-serif) !important;
}
%\!font-mono {
  font-family: var(--theme-font-family-monospace) !important;
}
