%text-xxs {
  font-size: var(--theme-font-size-xxs);
}
%text-xs {
  font-size: var(--theme-font-size-xs);
}
%text-sm {
  font-size: var(--theme-font-size-sm);
}
%text-base {
  font-size: var(--theme-font-size-base);
}
%text-lg {
  font-size: var(--theme-font-size-lg);
}
%text-xl {
  font-size: var(--theme-font-size-xl);
}
%text-2xl {
  font-size: var(--theme-font-size-2xl);
}
%text-3xl {
  font-size: var(--theme-font-size-3xl);
}
%text-4xl {
  font-size: var(--theme-font-size-4xl);
}
%text-5xl {
  font-size: var(--theme-font-size-5xl);
}
%text-6xl {
  font-size: var(--theme-font-size-6xl);
}
%\!text-xxs {
  font-size: var(--theme-font-size-xxs) !important;
}
%\!text-xs {
  font-size: var(--theme-font-size-xs) !important;
}
%\!text-sm {
  font-size: var(--theme-font-size-sm) !important;
}
%\!text-base {
  font-size: var(--theme-font-size-base) !important;
}
%\!text-lg {
  font-size: var(--theme-font-size-lg) !important;
}
%\!text-xl {
  font-size: var(--theme-font-size-xl) !important;
}
%\!text-2xl {
  font-size: var(--theme-font-size-2xl) !important;
}
%\!text-3xl {
  font-size: var(--theme-font-size-3xl) !important;
}
%\!text-4xl {
  font-size: var(--theme-font-size-4xl) !important;
}
%\!text-5xl {
  font-size: var(--theme-font-size-5xl) !important;
}
%\!text-6xl {
  font-size: var(--theme-font-size-6xl) !important;
}
