.justify-self-auto {
  justify-self: auto;
}
.justify-self-start {
  justify-self: start;
}
.justify-self-end {
  justify-self: end;
}
.justify-self-center {
  justify-self: center;
}
.justify-self-stretch {
  justify-self: stretch;
}
.\!justify-self-auto {
  justify-self: auto !important;
}
.\!justify-self-start {
  justify-self: start !important;
}
.\!justify-self-end {
  justify-self: end !important;
}
.\!justify-self-center {
  justify-self: center !important;
}
.\!justify-self-stretch {
  justify-self: stretch !important;
}
