@import "variables";

// Font sizes
@mixin font-size-xs { font-size: $font-size-xs; }

@mixin font-size-sm { font-size: $font-size-sm; }

@mixin font-size-base { font-size: $font-size-base; }

@mixin font-size-article { font-size: $font-size-article; }

@mixin font-size-lg { font-size: $font-size-lg; }

@mixin font-size-xl { font-size: $font-size-xl; }

@mixin font-size-2xl { font-size: $font-size-2xl; }

@mixin font-size-3xl { font-size: $font-size-3xl; }


// Font weights
@mixin font-weight-light { font-weight: $font-weight-light; }

@mixin font-weight-normal { font-weight: $font-weight-normal; }

@mixin font-weight-bold { font-weight: $font-weight-bold; }
