@use "sass:math";
@import "variables";
@import "mixins";
@import "../fonts/mixins";


h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-display;

  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1 {
  font-size: $h1-font-size;
  margin-bottom: math.div($h1-font-size, 2);

  &:not(:first-child) {
    margin-top: $h1-font-size;
  }
}

h2 {
  font-size: $h2-font-size;
  margin-bottom: math.div($h2-font-size, 2);

  &:not(:first-child) {
    margin-top: $h2-font-size;
  }
}

h3 {
  font-size: $h3-font-size;
  margin-bottom: math.div($h3-font-size, 2);

  &:not(:first-child) {
    margin-top: $h3-font-size;
  }
}

h4 {
  font-size: $h4-font-size;
  margin-bottom: math.div($h4-font-size, 2);

  &:not(:first-child) {
    margin-top: $h4-font-size;
  }
}

h5 {
  font-size: $h5-font-size;
  margin-bottom: math.div($h5-font-size, 2);

  &:not(:first-child) {
    margin-top: $h5-font-size;
  }
}

h6 {
  font-size: $h6-font-size;
  margin-bottom: math.div($h6-font-size, 2);

  &:not(:first-child) {
    margin-top: $h6-font-size;
  }
}

p {
  @include font-serif;

  font-size: $font-size-article;
  margin-bottom: $font-size-article;
}

small {
  font-size: $font-size-sm;
}
