@import "~@reuters-graphics/style-color/scss/sequential/sesame";

.text-shadow {
  text-shadow: 2px 2px 4px $gray-300;

  &.important {
    text-shadow: 2px 2px 4px $gray-300 !important;
  }
}

.text-shadow-darker {
  text-shadow: 2px 2px 4px $gray-500;

  &.important {
    text-shadow: 2px 2px 4px $gray-500 !important;
  }
}

.text-shadow-darkest {
  text-shadow: 2px 2px 4px $gray-600;

  &.important {
    text-shadow: 2px 2px 4px $gray-600 !important;
  }
}
