@import "../colours/thematic/tr";

.text-shadow {
  text-shadow: 2px 2px 4px $tr-light-grey;

  &.important {
    text-shadow: 2px 2px 4px $tr-light-grey !important;
  }
}

.text-shadow-darker {
  text-shadow: 2px 2px 4px $tr-medium-grey;

  &.important {
    text-shadow: 2px 2px 4px $tr-medium-grey !important;
  }
}

.text-shadow-darkest {
  text-shadow: 2px 2px 4px $tr-dark-grey;

  &.important {
    text-shadow: 2px 2px 4px $tr-dark-grey !important;
  }
}
