:root {
  --nord-0: #2e3440;
  --nord-polar-night-0: #2e3440;
  --nord-black: #2e3440;
  --nord-1: #3b4252;
  --nord-polar-night-1: #3b4252;
  --nord-2: #434c5e;
  --nord-polar-night-2: #434c5e;
  --nord-3: #4c566a;
  --nord-polar-night-3: #4c566a;
  --nord-4: #d8dee9;
  --nord-snow-storm-0: #d8dee9;
  --nord-5: #e5e9f0;
  --nord-snow-storm-1: #e5e9f0;
  --nord-6: #eceff4;
  --nord-snow-storm-2: #eceff4;
  --nord-white: #eceff4;
  --nord-7: #8fbcbb;
  --nord-frost-0: #8fbcbb;
  --nord-8: #88c0d0;
  --nord-frost-1: #88c0d0;
  --nord-9: #81a1c1;
  --nord-frost-2: #81a1c1;
  --nord-10: #5e81ac;
  --nord-frost-3: #5e81ac;
  --nord-blue: #5e81ac;
  --nord-11: #bf616a;
  --nord-aurora-0: #bf616a;
  --nord-red: #bf616a;
  --nord-12: #d08770;
  --nord-aurora-1: #d08770;
  --nord-orange: #d08770;
  --nord-13: #ebcb8b;
  --nord-aurora-2: #ebcb8b;
  --nord-yellow: #ebcb8b;
  --nord-14: #a3be8c;
  --nord-aurora-3: #a3be8c;
  --nord-green: #a3be8c;
  --nord-15: #b48ead;
  --nord-aurora-4: #b48ead;
  --nord-purple: #b48ead;
}
