$nord-0: #2E3440;
$nord-polar-night-0: #2E3440;
$nord-black: #2E3440;
$nord-1: #3B4252;
$nord-polar-night-1: #3B4252;
$nord-2: #434C5E;
$nord-polar-night-2: #434C5E;
$nord-3: #4C566A;
$nord-polar-night-3: #4C566A;
$nord-4: #D8DEE9;
$nord-snow-storm-0: #D8DEE9;
$nord-5: #E5E9F0;
$nord-snow-storm-1: #E5E9F0;
$nord-6: #ECEFF4;
$nord-snow-storm-2: #ECEFF4;
$nord-white: #ECEFF4;
$nord-7: #8FBCBB;
$nord-frost-0: #8FBCBB;
$nord-8: #88C0D0;
$nord-frost-1: #88C0D0;
$nord-9: #81A1C1;
$nord-frost-2: #81A1C1;
$nord-10: #5E81AC;
$nord-frost-3: #5E81AC;
$nord-blue: #5E81AC;
$nord-11: #BF616A;
$nord-aurora-0: #BF616A;
$nord-red: #BF616A;
$nord-12: #D08770;
$nord-aurora-1: #D08770;
$nord-orange: #D08770;
$nord-13: #EBCB8B;
$nord-aurora-2: #EBCB8B;
$nord-yellow: #EBCB8B;
$nord-14: #A3BE8C;
$nord-aurora-3: #A3BE8C;
$nord-green: #A3BE8C;
$nord-15: #B48EAD;
$nord-aurora-4: #B48EAD;
$nord-purple: #B48EAD;