:root {
  --gfx-colour-nord-0: #2e3440;
  --gfx-colour-nord-polar-night-0: #2e3440;
  --gfx-colour-nord-black: #2e3440;
  --gfx-colour-nord-1: #3b4252;
  --gfx-colour-nord-polar-night-1: #3b4252;
  --gfx-colour-nord-2: #434c5e;
  --gfx-colour-nord-polar-night-2: #434c5e;
  --gfx-colour-nord-3: #4c566a;
  --gfx-colour-nord-polar-night-3: #4c566a;
  --gfx-colour-nord-4: #d8dee9;
  --gfx-colour-nord-snow-storm-0: #d8dee9;
  --gfx-colour-nord-5: #e5e9f0;
  --gfx-colour-nord-snow-storm-1: #e5e9f0;
  --gfx-colour-nord-6: #eceff4;
  --gfx-colour-nord-snow-storm-2: #eceff4;
  --gfx-colour-nord-white: #eceff4;
  --gfx-colour-nord-7: #8fbcbb;
  --gfx-colour-nord-frost-0: #8fbcbb;
  --gfx-colour-nord-8: #88c0d0;
  --gfx-colour-nord-frost-1: #88c0d0;
  --gfx-colour-nord-9: #81a1c1;
  --gfx-colour-nord-frost-2: #81a1c1;
  --gfx-colour-nord-10: #5e81ac;
  --gfx-colour-nord-frost-3: #5e81ac;
  --gfx-colour-nord-blue: #5e81ac;
  --gfx-colour-nord-11: #bf616a;
  --gfx-colour-nord-aurora-0: #bf616a;
  --gfx-colour-nord-red: #bf616a;
  --gfx-colour-nord-12: #d08770;
  --gfx-colour-nord-aurora-1: #d08770;
  --gfx-colour-nord-orange: #d08770;
  --gfx-colour-nord-13: #ebcb8b;
  --gfx-colour-nord-aurora-2: #ebcb8b;
  --gfx-colour-nord-yellow: #ebcb8b;
  --gfx-colour-nord-14: #a3be8c;
  --gfx-colour-nord-aurora-3: #a3be8c;
  --gfx-colour-nord-green: #a3be8c;
  --gfx-colour-nord-15: #b48ead;
  --gfx-colour-nord-aurora-4: #b48ead;
  --gfx-colour-nord-purple: #b48ead;
}
