@import "~@reuters-graphics/style-color/scss/sequential/sesame";

$well-regular: 660px !default;
$well-wide: 930px !default;
$well-wider: 1200px !default;
$graphic-narrower: 330px !default;
$graphic-narrow: 510px !default;

$grid-gutter-width: 30px; // The bootstrap default variable

$component-margin: 3rem !default;

section.graphic {
  margin-top: $component-margin;
  margin-bottom: $component-margin;

  @extend .font-sans;

  &.bordered {
    @extend .separated;
  }

  h3 {
    margin-bottom: 0.5rem;
  }

  p {
    @extend .font-sans;
    @extend .paragraph-size;
  }

  // Use for footnotes and source lines
  aside {
    p {
      @extend .small-size;

      margin-bottom: 5px;
      color: $brand-text-secondary;
    }
  }
}
