@import "~@reuters-graphics/style-color/scss/categorical/base";

section.hero-title {
  @extend .clearfix;
  @extend .well, .widest;

  position: relative;

  figure {
    position: relative;
    margin-left: -15px;
    width: 100vw;
    height: calc(100vh - 60px);
    max-height: 150vw;

    @include media-breakpoint-down(sm) {
      height: calc(70vh);
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      &.crop-left {
        object-position: 100% 0;
      }

      &.crop-right {
        object-position: 0 0;
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);

      &.darker {
        background-color: rgba(0, 0, 0, 0.25);
      }

      &.darkest {
        background-color: rgba(0, 0, 0, 0.5);
      }

      &.light {
        background-color: rgba(255, 255, 255, 0.2);
      }

      &.lighter {
        background-color: rgba(255, 255, 255, 0.4);
      }

      &.lightest {
        background-color: rgba(255, 255, 255, 0.6);
      }
    }
  }

  .title {
    width: 100%;
    position: absolute;
    top: calc(50% - 60px);
    text-align: center;

    &.top {
      top: 20px;
    }

    &.bottom {
      top: auto;
      bottom: 20px;
    }

    &.left {
      text-align: left;
    }

    &.right {
      text-align: right;
    }

    h2,
    p {
      @extend .font-sans;
    }

    h2 {
      margin: 0;
      font-size: 4rem;
      line-height: 4rem;

      @include media-breakpoint-down(sm) {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
    }

    p.section-title {
      @extend .spaced-least;
      @extend .uppercase;

      margin: 0 0 2px;
      font-weight: 600;
      font-size: 0.8rem;
    }
  }
}
