@import "~@reuters-graphics/style-color/scss/sequential/sesame";

section.referral-container {
  margin-top: 60px;
  margin-bottom: 30px;

  @extend .separated-over;
  @extend .well, .wider;

  padding: 0 15px;

  svg {
    margin: 0 auto 20px;
    display: block;
  }

  .referral {
    div.image {
      margin-bottom: 5px;
      border: 1px solid #efefef;

      @extend .box-shadow-low;
    }

    a:hover {
      text-decoration: none;
    }

    p {
      @extend .font-sans;

      color: $brand-text-secondary;
      font-size: 0.9rem;
      line-height: 1.2rem;
    }

    width: 25%;
    padding: 0 10px;

    @include media-breakpoint-down(sm) {
      width: 33.33333%;

      &:nth-child(4) {
        display: none;
      }
    }

    @include media-breakpoint-down(xs) {
      width: 50%;

      &:nth-child(3) {
        display: none;
      }
    }
  }
}
