@import '../fonts/mixins';
@import '../fonts/variables';
@import '../typography/font-size';
@import '../colours/thematic/tr';

@mixin body-text {
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  blockquote {
    color: var(--theme-colour-text-primary, $tr-dark-grey);
  }
  p,
  ul li,
  ul li p,
  ol li,
  ol li p {
    -webkit-font-smoothing: antialiased;
    font-family: var(--theme-font-family-body, $font-family-serif);
    color: var(--theme-colour-text-primary, $tr-dark-grey);

    @extend .paragraph-size;

    a {
      color: currentColor;
      background-size: 1px 1px;
      background-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="2" y2="2" style="stroke: currentColor; opacity: 0.8;" /></svg>');
      background-position: 0 1.3rem;
      background-repeat: repeat-x;
      text-decoration: none;
      // TODO: Assign this to background colour CSS var and the underline will skip descenders
      text-shadow: 1px 1px var(--theme-colour-background, #ffffff),
        1px -1px var(--theme-colour-background, #ffffff),
        -1px 1px var(--theme-colour-background, #ffffff),
        -1px -1px var(--theme-colour-background, #ffffff);

      @media (max-width: 540px) {
        background-position: 0 1.1rem;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  h2 {
    margin: 4rem 0 2rem;
    text-align: center;
    font-weight: 600;

    &::after {
      display: block;
      content: '';
      background: var(--theme-colour-text-secondary, $tr-medium-grey);
      height: 3px;
      width: 100px;
      margin: 10px auto 2rem;
    }
  }

  ul {
    padding-left: 1.75rem;
    list-style-type: square;
  }
  p + ul {
    margin-top: -0.75rem;
  }

  blockquote {
    margin: 30px 0;
    border-left: 2px solid var(--theme-colour-text-secondary, $tr-medium-grey);
    padding-left: 15px;

    p {
      @extend .blockquote-size;
      font-family: var(--theme-font-family-body, $font-family-serif);
    }

    // Markdown cheat to use for attribution
    blockquote {
      border: 0;
      padding: 0;
      margin: -5px 0 0;

      p {
        font-family: var(--theme-font-family-body, $font-family-serif);
        color: var(--theme-colour-text-primary, $tr-dark-grey);
        font-size: 1rem;

        @media (max-width: 540px) {
          font-size: 0.9rem;
        }
      }

      // Kill any additional nestings...
      blockquote {
        display: none;
      }
    }
  }

  &.font-sans {
    font-family: var(
      --theme-font-family-sans-serif,
      $font-family-sans-serif
    ) !important;
  }
}
