@import '../colours/thematic/tr';
@import '../fonts/mixins';

@mixin graphic-text {
  h3 {
    margin-bottom: 0.5rem;
    color: var(--theme-colour-text-primary, $tr-dark-grey);
  }

  p {
    -webkit-font-smoothing: antialiased;
    @include font-display;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: var(--theme-colour-text-primary, $tr-dark-grey);
    margin-bottom: 1rem;
    &:last-of-type {
      margin-bottom: 1rem;
    }

    @media (max-width: 540px) {
      font-size: 1rem;
      line-height: 1.35rem;
    }

    a {
      color: currentColor;
      background-size: 1px 1px;
      background-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="2" y2="2" stroke="rgba(0, 0, 0, 0.8)" /></svg>');
      background-position: 0 1.1rem;
      background-repeat: repeat-x;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }

  // Used for footnotes and source lines
  aside {
    p {
      @include font-display;
      margin-bottom: 0;
      color: var(--theme-colour-text-secondary, $tr-medium-grey);
      font-size: 0.9rem;
      line-height: 1.2rem;
      &:last-of-type {
        margin-bottom: 0;
      }

      @media (max-width: 540px) {
        font-size: 0.8rem;
        line-height: 1.1rem;
      }

      a {
        color: currentColor;
        text-decoration: underline;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
