---
title: Hero
description: A headline over a hero image
slug: hero
---

<script>
  import DemoContainer from '../_docs/DemoContainer/index.svelte';
  import Hero from './index.svelte';
  import { assets } from '$app/paths';
</script>

<section>

## {title}

{description}

</section>

```svelte
<script>
  import { Headline } from '@reuters-graphics/graphics-svelte-components';
  import { assets } from '$app/paths';
</script>

<Hero hed="Eisbär" section="Climate Change" dek="The last of the white bears">
  <img slot="image" src="{`${assets}/images/polar.jpg`}" alt="A polar bear" />
</Hero>
```

<DemoContainer>
  <Hero
    hed='Eisbär'
    section='Climate Change'
    dek="The last of the white bears"
  >
    <img slot='image' src={`${assets}/images/polar.jpg`} alt='A polar bear' />
  </Hero>
</DemoContainer>

```svelte
<script>
  import { Headline } from '@reuters-graphics/graphics-svelte-components';
  import { assets } from '$app/paths';
</script>

<!-- Place the title with top, bottom, left & right props-->
<Hero
  hed="Eisbär"
  section="Climate Change"
  dek="The last of the white bears"
  overlay="{'darker'}"
  bottom
  left
>
  <img slot="image" src="{`${assets}/images/polar.jpg`}" alt="A polar bear" />
</Hero>
```

<DemoContainer>
  <Hero
    hed='Eisbär'
    section='Climate Change'
    dek="The last of the white bears"
    overlay={'darker'}
    bottom
    left
  >
    <img slot='image' src={`${assets}/images/polar.jpg`} alt='A polar bear' />
  </Hero>
</DemoContainer>

```svelte
<script>
  import { Headline } from '@reuters-graphics/graphics-svelte-components';
  import { assets } from '$app/paths';
</script>

<Hero section="Climate Change" overlay="{false}">
  <img slot="image" src="{`${assets}/images/polar.jpg`}" alt="A polar bear" />
  <!-- Override the hed and/or dek with named slots -->
  <h2 slot="hed" class="uppercase spaced-more color-blue text-shadow-lighter">
    Eisbaer
  </h2>
  <p slot="dek" class="color-blue text-shadow-lighter">
    The last of the white bears
  </p>
</Hero>
```

<DemoContainer>
  <Hero section="Climate Change" overlay={false}>
  <img slot="image" src="{`${assets}/images/polar.jpg`}" alt="A polar bear" />
  <h2 slot="hed" class="uppercase spaced-more color-blue text-shadow-lighter">Eisbaer</h2>
  <p slot="dek" class="color-blue text-shadow-lighter">The last of the white bears</p>
</Hero>
</DemoContainer>

<style lang="scss">
  /*Fudging some styles for the demo...*/
  :global {
    section.hero-title {
      figure {
        margin: 0 !important;
        width: 100% !important;
      }
      div.title {
        padding: 0 15px !important;
      }
    }
  }
</style>
