// Sheet of project colors
$tr-orange: #fa6400;
$tr-dark-orange: #dc4300;
$tr-light-orange: #ffa100;
$tr-dark-grey: #404040;
$tr-medium-grey: #666666;
$tr-light-grey: #afafaf;
$tr-muted-grey: #d0d0d0;
$tr-hover-background-grey: #f8f8f8;
$tr-light-muted-grey: #f4f4f4;
$tr-ultra-light-grey: #fafafa;
$tr-dark-blue: #005da2;
$tr-light-blue: #0099c4;
$tr-muted-blue: #4386B9;
$tr-lighter-blue: #7FACCE;
$tr-superlight-blue: #e5eef5;
$tr-dark-purple: #621f95;
$tr-light-purple: #6e3ab7;
$tr-dark-red: #a00000;
$tr-light-red: #dc0a0a;
$tr-dark-green: #387c2b;
$tr-light-green: #77a22d;
$black: #000;
$white: #fff;
$ad-placeholder: #ffb1b1;