.newtheme {
  position: sticky;
  top: 10px;
  p {
    font-size: 14px;
    line-height: 18px;
    color: #666;
  }

  pre {
    box-shadow:
      0 10px 20px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23) !important;
    border: 0 !important;
    padding: 1em 1.5em !important;
  }
}
