@forward 'color';
@forward 'font-family';
@forward 'font-size';
@forward 'font-style';
@forward 'font-weight';
@forward 'letter-spacing';
@forward 'line-height';
@forward 'text-align';
@forward 'text-decoration';
@forward 'text-stroke';
@forward 'text-transform';
@forward 'vertical-align';
@forward 'white-space';
@forward 'word-break';
@forward 'text-role';
