@use 'mixins/text-role' as *;

.h1 {
  @include h1;
}

.h2 {
  @include h2;
}

.h3 {
  @include h3;
}

.h4 {
  @include h4;
}

.body-text {
  @include body-text;
}

.body-note {
  @include body-note;
}

.body-caption {
  @include body-caption;
}

.body-link {
  @include body-link;
}

.drop-cap {
  @include drop-cap;
}

.body-correction {
  @include body-correction;
}
