.align-baseline {
  vertical-align: baseline;
}
.align-top {
  vertical-align: top;
}
.align-middle {
  vertical-align: middle;
}
.align-bottom {
  vertical-align: bottom;
}
.align-text-top {
  vertical-align: text-top;
}
.align-text-bottom {
  vertical-align: text-bottom;
}
.align-sub {
  vertical-align: sub;
}
.align-super {
  vertical-align: super;
}
.\!align-baseline {
  vertical-align: baseline !important;
}
.\!align-top {
  vertical-align: top !important;
}
.\!align-middle {
  vertical-align: middle !important;
}
.\!align-bottom {
  vertical-align: bottom !important;
}
.\!align-text-top {
  vertical-align: text-top !important;
}
.\!align-text-bottom {
  vertical-align: text-bottom !important;
}
.\!align-sub {
  vertical-align: sub !important;
}
.\!align-super {
  vertical-align: super !important;
}
