$padding-levels: (
  '0': 0,
  '1': 0.5rem,
  '2': 1rem,
  '3': 1.75rem,
  '4': 2.25rem,
  '5': 3rem,
  '6': 4rem,
  '7': 5rem,
  '8': 6rem,
);

@each $level, $value in $padding-levels {
  %p-#{$level} {
    padding: $value;
  }
  %pt-#{$level} {
    padding-top: $value;
  }
  %pr-#{$level} {
    padding-right: $value;
  }
  %pb-#{$level} {
    padding-bottom: $value;
  }
  %pl-#{$level} {
    padding-left: $value;
  }
  %px-#{$level} {
    padding-right: $value;
    padding-left: $value;
  }
  %py-#{$level} {
    padding-top: $value;
    padding-bottom: $value;
  }

  %\!p-#{$level} {
    padding: $value !important;
  }
  %\!pt-#{$level} {
    padding-top: $value !important;
  }
  %\!pr-#{$level} {
    padding-right: $value !important;
  }
  %\!pb-#{$level} {
    padding-bottom: $value !important;
  }
  %\!pl-#{$level} {
    padding-left: $value !important;
  }
  %\!px-#{$level} {
    padding-right: $value !important;
    padding-left: $value !important;
  }
  %\!py-#{$level} {
    padding-top: $value !important;
    padding-bottom: $value !important;
  }
}
