.content-normal {
  align-content: normal;
}
.content-center {
  align-content: center;
}
.content-start {
  align-content: flex-start;
}
.content-end {
  align-content: flex-end;
}
.content-between {
  align-content: space-between;
}
.content-around {
  align-content: space-around;
}
.content-evenly {
  align-content: space-evenly;
}
.content-baseline {
  align-content: baseline;
}
.content-stretch {
  align-content: stretch;
}
.\!content-normal {
  align-content: normal !important;
}
.\!content-center {
  align-content: center !important;
}
.\!content-start {
  align-content: flex-start !important;
}
.\!content-end {
  align-content: flex-end !important;
}
.\!content-between {
  align-content: space-between !important;
}
.\!content-around {
  align-content: space-around !important;
}
.\!content-evenly {
  align-content: space-evenly !important;
}
.\!content-baseline {
  align-content: baseline !important;
}
.\!content-stretch {
  align-content: stretch !important;
}
