.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.items-stretch {
  align-items: stretch;
}
.\!items-start {
  align-items: flex-start !important;
}
.\!items-end {
  align-items: flex-end !important;
}
.\!items-center {
  align-items: center !important;
}
.\!items-baseline {
  align-items: baseline !important;
}
.\!items-stretch {
  align-items: stretch !important;
}
