.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.\!flex-row {
  flex-direction: row !important;
}
.\!flex-row-reverse {
  flex-direction: row-reverse !important;
}
.\!flex-col {
  flex-direction: column !important;
}
.\!flex-col-reverse {
  flex-direction: column-reverse !important;
}
