.paragraph-size {
  font-size: 1.3rem;
  line-height: 2.1rem;

  // slightly smaller in sans...
  &.font-sans {
    font-size: 1.1rem;
    line-height: 1.75rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 1.1rem;
    line-height: 1.8rem;

    // slightly smaller in sans...
    &.font-sans {
      font-size: 1rem;
      line-height: 1.6rem;
    }
  }

  &.important {
    font-size: 1.3rem !important;
    line-height: 2.1rem !important;

    &.font-sans {
      font-size: 1.1rem !important;
      line-height: 1.8rem !important;
    }

    @include media-breakpoint-down(sm) {
      font-size: 1.1rem !important;
      line-height: 1.8rem !important;

      &.font-sans {
        font-size: 1rem !important;
        line-height: 1.6rem !important;
      }
    }
  }
}

.small-size {
  font-size: 0.9rem;
  line-height: 1.2rem;

  @include media-breakpoint-down(sm) {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }

  &.important {
    font-size: 0.9rem !important;
    line-height: 1.2rem !important;

    @include media-breakpoint-down(sm) {
      font-size: 0.8rem !important;
      line-height: 1.1rem !important;
    }
  }
}

.blockquote-size {
  font-size: 1.6rem;
  line-height: 2.1rem;

  @include media-breakpoint-down(sm) {
    font-size: 1.3rem;
    line-height: 1.9rem;
  }

  &.important {
    font-size: 1.6rem !important;
    line-height: 2rem !important;

    @include media-breakpoint-down(sm) {
      font-size: 1.3rem !important;
      line-height: 1.8rem !important;
    }
  }
}
