$fluid-padding-levels: (
  '0': 0,
  '1': clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem),
  '2': clamp(0.56rem, calc(0.52rem + 0.21vw), 0.69rem),
  '3': clamp(0.88rem, calc(0.83rem + 0.21vw), 1rem),
  '4': clamp(1.13rem, calc(1.06rem + 0.31vw), 1.31rem),
  '5': clamp(1.69rem, calc(1.58rem + 0.52vw), 2rem),
  '6': clamp(2.25rem, calc(2.13rem + 0.63vw), 2.63rem),
  '7': clamp(3.38rem, calc(3.19rem + 0.94vw), 3.94rem),
  '8': clamp(4.5rem, calc(4.25rem + 1.25vw), 5.25rem),
  '9': clamp(6.75rem, calc(6.38rem + 1.88vw), 7.88rem),
);

@each $level, $value in $fluid-padding-levels {
  %fp-#{$level} {
    padding: $value;
  }
  %fpt-#{$level} {
    padding-top: $value;
  }
  %fpr-#{$level} {
    padding-right: $value;
  }
  %fpb-#{$level} {
    padding-bottom: $value;
  }
  %fpl-#{$level} {
    padding-left: $value;
  }
  %fpx-#{$level} {
    padding-right: $value;
    padding-left: $value;
  }
  %fpy-#{$level} {
    padding-top: $value;
    padding-bottom: $value;
  }

  %\!fp-#{$level} {
    padding: $value !important;
  }
  %\!fpt-#{$level} {
    padding-top: $value !important;
  }
  %\!fpr-#{$level} {
    padding-right: $value !important;
  }
  %\!fpb-#{$level} {
    padding-bottom: $value !important;
  }
  %\!fpl-#{$level} {
    padding-left: $value !important;
  }
  %\!fpx-#{$level} {
    padding-right: $value !important;
    padding-left: $value !important;
  }
  %\!fpy-#{$level} {
    padding-top: $value !important;
    padding-bottom: $value !important;
  }
}

%fp-auto {
  padding: auto;
}
%fpx-auto {
  padding-right: auto;
  padding-left: auto;
}
%fpy-auto {
  padding-top: auto;
  padding-bottom: auto;
}
%\!fp-auto {
  padding: auto !important;
}
%\!fpx-auto {
  padding-right: auto !important;
  padding-left: auto !important;
}
%\!fpy-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}
