@import 'variables';

@each $level, $value in $margin-levels {
  .m-#{$level} {
    margin: $value !important;
  }
  .mt-#{$level} {
    margin-top: $value !important;
  }
  .mr-#{$level} {
    margin-right: $value !important;
  }
  .mb-#{$level} {
    margin-bottom: $value !important;
  }
  .ml-#{$level} {
    margin-left: $value !important;
  }
  .mx-#{$level} {
    margin-right: $value !important;
    margin-left: $value !important;
  }
  .my-#{$level} {
    margin-top: $value !important;
    margin-bottom: $value !important;
  }
}

.m-auto {
  margin: auto !important;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

@each $level, $value in $padding-levels {
  .p-#{$level} {
    padding: $value !important;
  }
  .pt-#{$level} {
    padding-top: $value !important;
  }
  .pr-#{$level} {
    padding-right: $value !important;
  }
  .pb-#{$level} {
    padding-bottom: $value !important;
  }
  .pl-#{$level} {
    padding-left: $value !important;
  }
  .px-#{$level} {
    padding-right: $value !important;
    padding-left: $value !important;
  }
  .py-#{$level} {
    padding-top: $value !important;
    padding-bottom: $value !important;
  }
}
