/* REUTERS KNOWLEDGE */
@font-face {
  font-family: 'Knowledge';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/Knowledge2017-RegularItalic.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/Knowledge2017-RegularItalic.woff')
      format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Knowledge';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/Knowledge2017-Black.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/Knowledge2017-Black.woff')
      format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Knowledge';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/Knowledge2017-Light.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/Knowledge2017-Light.woff')
      format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Knowledge';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/Knowledge2017-Regular.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/Knowledge2017-Regular.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Knowledge';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/Knowledge2017-UltraLight.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/Knowledge2017-UltraLight.woff')
      format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Knowledge';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/Knowledge2017-Bold.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/Knowledge2017-Bold.woff')
      format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Knowledge';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/Knowledge2017-Medium.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/Knowledge2017-Medium.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SOURCE SANS PRO */
@font-face {
  font-family: 'Source Sans Pro';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/SourceSansPro-Light.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/SourceSansPro-Light.woff')
      format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/SourceSansPro-Italic.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/SourceSansPro-Italic.woff')
      format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/SourceSansPro-Bold.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/SourceSansPro-Bold.woff')
      format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/SourceSansPro-SemiBold.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/SourceSansPro-SemiBold.woff')
      format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/SourceSansPro-Regular.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/SourceSansPro-Regular.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* NEWSREADER */
@font-face {
  font-family: 'Newsreader Text';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-Bold.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-Bold.woff')
      format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Newsreader Text';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-ExtraBoldItalic.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-ExtraBoldItalic.woff')
      format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Newsreader Text';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-BoldItalic.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-BoldItalic.woff')
      format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Newsreader Text';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-ExtraBold.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-ExtraBold.woff')
      format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Newsreader Text';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-LightItalic.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-LightItalic.woff')
      format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Newsreader Text';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-SemiBoldItalic.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-SemiBoldItalic.woff')
      format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Newsreader Text';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-Medium.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-Medium.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Newsreader Text';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-MediumItalic.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-MediumItalic.woff')
      format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Newsreader Text';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-SemiBold.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-SemiBold.woff')
      format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Newsreader Text';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-ExtraLightItalic.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-ExtraLightItalic.woff')
      format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Newsreader Text';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-Italic.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-Italic.woff')
      format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Newsreader Text';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-Regular.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-Regular.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Newsreader Text';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-ExtraLight.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-ExtraLight.woff')
      format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Newsreader Text';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-Light.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NewsreaderText-Light.woff')
      format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* DROID SANS MONO */
@font-face {
  font-family: 'Droid Sans Mono';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/DroidSansMono.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/DroidSansMono.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* NOTO SANS JAPANESE */
@font-face {
  font-family: 'Noto Sans JP';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NotoSansJP-Bold.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NotoSansJP-Bold.woff')
      format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans JP';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NotoSansJP-Light.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NotoSansJP-Light.woff')
      format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans JP';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NotoSansJP-ExtraLight.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NotoSansJP-ExtraLight.woff')
      format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans JP';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NotoSansJP-Medium.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NotoSansJP-Medium.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans JP';
  src:
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NotoSansJP-Regular.woff2')
      format('woff2'),
    url('//graphics.thomsonreuters.com/style-assets/fonts/v1/NotoSansJP-Regular.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
