/* REUTERS KNOWLEDGE */
@font-face {
  font-family: 'Knowledge';
  font-style: normal;
  font-weight: 100;
  src:
    local('Knowledge Ultra Light'),
    local('KnowledgeUltraLight'),
    url('//graphics.thomsonreuters.com/fonts/KnowledgeUltraLight.woff') format('woff');
}

@font-face {
  font-family: 'Knowledge';
  font-style: normal;
  font-weight: 300;
  src:
    local('Knowledge Light'),
    local('KnowledgeLight'),
    url('//graphics.thomsonreuters.com/fonts/KnowledgeLight.woff') format('woff');
}

@font-face {
  font-family: 'Knowledge';
  font-style: normal;
  font-weight: 400;
  src:
    local('Knowledge Regular'),
    local('KnowledgeRegular'),
    url('//graphics.thomsonreuters.com/fonts/KnowledgeRegular.woff') format('woff');
}

@font-face {
  font-family: 'Knowledge';
  font-style: italic;
  font-weight: 400;
  src:
    local('Knowledge Regular Italic'),
    local('KnowledgeRegularItalic'),
    url('//graphics.thomsonreuters.com/fonts/KnowledgeRegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'Knowledge';
  font-style: normal;
  font-weight: 500;
  src:
    local('Knowledge Medium'),
    local('KnowledgeMedium'),
    url('//graphics.thomsonreuters.com/fonts/KnowledgeMedium.woff') format('woff');
}

@font-face {
  font-family: 'Knowledge';
  font-style: normal;
  font-weight: 700;
  src:
    local('Knowledge Bold'),
    local('KnowledgeBold'),
    url('//graphics.thomsonreuters.com/fonts/KnowledgeBold.woff') format('woff');
}

@font-face {
  font-family: 'Knowledge';
  font-style: italic;
  font-weight: 700;
  src:
    local('Knowledge Bold Italic'),
    local('KnowledgeBoldItalic'),
    url('//graphics.thomsonreuters.com/fonts/KnowledgeBoldItalic.woff') format('woff');
}

/* SOURCE SANS PRO */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src:
    local('Source Sans Pro'),
    local('SourceSansPro-Regular'),
    url('//graphics.thomsonreuters.com/fonts/SourceSansPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src:
    local('Source Sans Pro Semibold'),
    local('SourceSansPro-Semibold'),
    url('//graphics.thomsonreuters.com/fonts/SourceSansPro-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src:
    local('Source Sans Pro Bold'),
    local('SourceSansPro-Bold'),
    url('//graphics.thomsonreuters.com/fonts/SourceSansPro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src:
    local('Source Sans Pro Italic'),
    local('SourceSansPro-It'),
    url('//graphics.thomsonreuters.com/fonts/SourceSansPro-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src:
    local('Source Sans Pro Light'),
    local('SourceSansPro-Light'),
    url('//graphics.thomsonreuters.com/fonts/SourceSansPro-Light.woff') format('woff');
}

@font-face {
  font-family: 'freight-book';
  font-style: normal;
  font-weight: normal;
  src: url('//graphics.thomsonreuters.com/fonts/freight-book.woff') format('woff');
}
