@import "variables";

@mixin font-sans($i: false) {
  $important: if($i, "!important", "");

  font-family: $font-family-sans-serif #{$important};
}

@mixin font-serif($i: false) {
  $important: if($i, "!important", "");

  font-family: $font-family-serif #{$important};
}

@mixin font-monospace($i: false) {
  $important: if($i, "!important", "");

  font-family: $font-family-monospace #{$important};
}

@mixin font-display($i: false) {
  $important: if($i, "!important", "");

  font-family: $font-family-display #{$important};
}
