@import 'variables';

.font-sans {
  font-family: var(
    --theme-font-family-sans-serif,
    $font-family-display
  ) !important;
}

.font-serif {
  font-family: var(--theme-font-family-serif, $font-family-serif) !important;
}

.font-monospace {
  font-family: var(
    --theme-font-family-monospace,
    $font-family-monospace
  ) !important;
}
