$font-family-serif: "freight-book", serif;
$font-family-base:  $font-family-serif;

$font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-family-display: "Knowledge", "Source Sans Pro", Arial, sans-serif;
$font-family-knowledge: $font-family-display; // deprecate
