.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-clip {
  overflow: clip;
}
.overflow-visible {
  overflow: visible;
}
.overflow-scroll {
  overflow: scroll;
}
.overflow-x-auto {
  overflow-x: auto;
}
.overflow-y-auto {
  overflow-y: auto;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.overflow-x-clip {
  overflow-x: clip;
}
.overflow-y-clip {
  overflow-y: clip;
}
.overflow-x-visible {
  overflow-x: visible;
}
.overflow-y-visible {
  overflow-y: visible;
}
.overflow-x-scroll {
  overflow-x: scroll;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
.\!overflow-auto {
  overflow: auto !important;
}
.\!overflow-hidden {
  overflow: hidden !important;
}
.\!overflow-clip {
  overflow: clip !important;
}
.\!overflow-visible {
  overflow: visible !important;
}
.\!overflow-scroll {
  overflow: scroll !important;
}
.\!overflow-x-auto {
  overflow-x: auto !important;
}
.\!overflow-y-auto {
  overflow-y: auto !important;
}
.\!overflow-x-hidden {
  overflow-x: hidden !important;
}
.\!overflow-y-hidden {
  overflow-y: hidden !important;
}
.\!overflow-x-clip {
  overflow-x: clip !important;
}
.\!overflow-y-clip {
  overflow-y: clip !important;
}
.\!overflow-x-visible {
  overflow-x: visible !important;
}
.\!overflow-y-visible {
  overflow-y: visible !important;
}
.\!overflow-x-scroll {
  overflow-x: scroll !important;
}
.\!overflow-y-scroll {
  overflow-y: scroll !important;
}
