@import "../src/scss/mixins";
@import "../src/scss/colours/thematic/tr";

table.docblock-argstable {
  p {
    font-family: inherit;
    font-size: inherit;
  }

  ul {
    padding-inline-start: 20px;
  }
}

div.sbdocs-content {
  & > h2, & > div > div > h2 {
    margin-top: 4rem;
    margin-bottom: 2rem;
    &:first-of-type {
      margin-top: 4rem;
      margin-bottom: 2rem;
    }
  }

  .docblock-source {
    margin: 1rem 0;
  }

 blockquote.sbdocs {
    background-color: #ededed;
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 2rem auto;
    p {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

p.sbdocs-p, ul.sbdocs-ul, li.sbdocs-li {
  font-size: 18px;
  line-height: 29px;
  @include font-display;

  .highlight {
    background-color: rgb(254, 254, 160);
    padding: 0 4px;
  }
  .bold {
    font-weight: bold;
  }
}

a.sbdocs-a {
  @include font-display;
  color: $tr-muted-blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.sbdocs {
  @include font-display;

  &:not(.sbdocs-preview) {
    code {
      font-size: 90%;
      margin-left: 2px;
      margin-right: 2px;
      background-color: #efefef;
      padding: 2px 4px;
    }
  
    img {
      display: block;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    blockquote {
      code {
        background-color: #d9d9d9;
      }
    }
  }
}



div.reset-article {
  width: calc(100% + 30px);
  margin-left: -15px;
}