@use '../mixins' as *;

// Applies to entire page — safe at root
@mixin root-styles {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

// Applies to elements scoped to #reuters-graphics-svelte-app
@mixin scoped-styles {
  // Disable the grey tap highlight on touch devices for the scoped app.
  -webkit-tap-highlight-color: transparent;

  // Text selection highlight
  .theme ::selection {
    background-color: var(
      --theme-colour-text-secondary,
      #{$theme-colour-text-secondary}
    );
    color: var(--theme-colour-background, #{$theme-colour-background});
  }

  img,
  svg,
  video,
  canvas,
  picture {
    display: block;
  }

  img {
    max-width: 100%;
    height: auto; // preserve aspect ratio when width attribute is set
  }

  img,
  figure {
    @include fmy-6;
  }

  figure {
    @include fmx-auto;
  }

  // Don't override Google Ad iframes, which set their own dimensions.
  iframe:not([id^='google_ads_iframe_']) {
    border: 0;
    width: 100%;
  }
}
