@use '../mixins' as *;
@import 'normalize.css';
@import 'typography';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  .theme {
    ::selection {
      background-color: $theme-colour-text-secondary;
      color: $theme-colour-background;
    }
  }
}

img,
video {
  display: block;
}

img {
  max-width: 100%;
  @include fmy-5;
}

figure {
  @include fmy-5;
  @include fmx-auto;
}

iframe {
  border: 0;
  width: 100%;
}
