%uppercase {
  text-transform: uppercase;
}
%lowercase {
  text-transform: lowercase;
}
%\!uppercase {
  text-transform: uppercase !important;
}
%\!lowercase {
  text-transform: lowercase !important;
}
