%whitespace-normal {
  white-space: normal;
}
%whitespace-nowrap {
  white-space: nowrap;
}
%\!whitespace-normal {
  white-space: normal !important;
}
%\!whitespace-nowrap {
  white-space: nowrap !important;
}
